body{
	font-family: 'calibiri';
	color: #000;
}

.judul{
	background: salmon;
	padding: 10px;
	text-align: center;

}

.judul h2,h3{
	height: 15px;
}

.tombol{
	padding:15px;
	border:1px solid #CCC;
}
